/*==============================================================================
Base Styles
==============================================================================*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, a {
  text-decoration: none;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*==============================================================================
Containers
==============================================================================*/

body {
  margin: 0 40px;
}

#mobile-profile-img {
  display: block;
  margin: 20px auto;
  padding: 0;
  border-radius: 50%;
  width: 250px;
  height: auto;
}

#mobile-header {
  border-bottom: solid 2px #000;
}

#mobile-header-main,
#tablet-header-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#mobile-header-main {
  margin-top: 40px;
}

#tablet-header-main {
  margin-top: 60px;
}

#desktop-header-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.box1 {
  flex-grow: 5;
}

#mobile-header-logo img,
#tablet-header-logo img,
#desktop-header-logo img {
  width: 82px;
  height: auto;
}

#mobile-header-name,
#tablet-header-name,
#desktop-header-name {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

#mobile-header-content {
  text-align: center;
}

#desktop-welcome-gallery {
  display: none;
}

.two-column-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

/*==============================================================================
Hidden Content
==============================================================================*/

#tablet-header {
  display: none;
}

#desktop-header {
  display: none;
}

/*==============================================================================
Header
==============================================================================*/

h1, h2, h3, h4 {
  font-family: 'Lato', sans-sans-serif;
}

h1, h3 {
  text-align: center;
}

h1 {
  color: #000;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0;
}

h2 {
  color: #000;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
}

h3 {
  font-size: 1.9em;
  font-weight: 700;
  margin: 40px 0;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.first {
  margin: 20px 0 0 0;
}

.last {
  margin: 0 0 60px 0;
}

/*==============================================================================
Dropdown Menu
==============================================================================*/

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: 0;
  background-color: transparent;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin: 40px 0;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#myDropdown {
  list-style: none;
}

#myDropdown li {
  border-bottom: solid 2px #000;
}

#myDropdown li:last-child {
  border: 0;
  margin-bottom: 31px;
}

.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  margin: 0 auto;
  padding: 0;
}

.dropdown-content a {
  display: block;
  width: 100%;
  color: #000;
  margin: 10px auto;
  padding: 10px 0;
  font-family: 'Lato', sans-sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}

.show {
  display: block;
}

a:link, a:visited, a:hover, a:active {
  font-weight: 700;
  color: #000;
}

/*==============================================================================
Main
==============================================================================*/

.item-1 {
  display: none;
}

.two-column-flex img {
  display: none;
}

.rg-image-wrapper{
  position: relative;
  padding: 20px 30px;
  background: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  min-height: 20px;
  margin: 0 0 40px 0;
}

.rg-image{
  position: relative;
  text-align: center;
  line-height: 0px;
}

.rg-image img{
  max-height: 100%;
  max-width: 100%;
}

.rg-image-nav a{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000 url(../img/nav.png) no-repeat -20% 50%;
  width: 28px;
  height: 100%;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.6;
  outline: none;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}

.rg-image-nav a.rg-image-nav-next{
  right: 0px;
  left: auto;
  background-position: 115% 50%;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  border-radius: 0px 10px 10px 0px;
}

.rg-image-nav a:hover{
  opacity: 0.8;
}

.rg-caption {
  text-align: center;
  margin-top: 15px;
  position: relative;
}

.rg-caption p{
  font-family: 'Lato', sans-sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 16px;
  padding: 0 15px;
  text-align: center;
  color: #fff;
}

.rg-loading{
  width: 46px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000 url(../img/ajax-loader.gif) no-repeat center center;
  margin: -23px 0px 0px -23px;
  z-index: 100;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.7;
}

.video-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
}

.video-container figure {
  text-align: center;
  display: table;
  margin: 0;
}

.videos {
  border-top: solid 1px #000;
  padding-top: 40px;
  max-width: 640px;
  margin: 40px auto;
}

.video-container iframe {
	width: 100%;
	height: 100%;
}

.video-container figcaption {
  display: table-caption;
  caption-side: bottom;
  margin-bottom: 40px;
}

.video-container figcaption h3 {
  margin: 20px 0;
  padding: 0;
}

.video-container figcaption p:not(:last-child) {
  margin: 0;
  padding: 0 0 30px 0;
}

figcaption p {
  padding-top: 40px;
}

.video-container img {
  width: 100%;
  max-width: 640px;
  height: auto;
}

#podcasts {
  border-bottom: solid 1px #000;
}

#last-caption {
  border-bottom: none;
  margin-bottom: 80px;
}

#copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

.slick-slider {
  max-width: 1200px;
  margin: 0 auto;
}

.slider-nav {
  padding: 0;
  margin: 0 25px;
}

figcaption {
  display: none;
}

.slick-slide {
  padding: 0;
  margin: 0 10px;
}

.slider-for {
  padding-top: 10px;
}

.slick-slide img, .fade {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

#contact-wrapper {
  width: 600px;
}

#ajax-contact {
  margin-bottom: 39px;
}

#ajax-contact .field {
  max-width: 220px;
  margin: 0 auto;
}

#ajax-contact input[type="text"],
#ajax-contact textarea {
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 20px;
  width: 250px;
  outline: 0;
  margin: 5px auto;
  padding: 10px 15px;
  color: #000;
}

#ajax-contact input:focus,
#ajax-contact textarea:focus {
  background-color: #ffffd3;
  border-color: #1e90ff;
  transition: border-color .4s ease, background-color .4s ease;
}

#ajax-contact input[type="submit"],
#ajax-contact input[type="reset"] {
  font-family: "Lato", sans-serif;
  background: #007f3f;
  color: #fff;
  width: 120px;
  border-radius: 20px;
  border: none;
  outline: 0;
  padding: 10px 0;
  margin: 5px 2.5px 0 2.5px;
}

#ajax-contact input[type="submit"]:hover,
#ajax-contact input[type="reset"]:hover {
  background: #1e90ff;
  transition: background-color .4s ease;
}

#ajax-contact textarea {
  height: 150px;
}

#ajax-contact label {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  padding: 0;
}

#btns {
  display: flex;
}

.success {
  font-family: "Lato", sans-serif;
  width: 250px;
  padding: 1em;
  margin: 0 auto;
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  font-family: "Lato", sans-serif;
  width: 250px;
  padding: 1em;
  margin: 0 auto;
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
          border-radius: 4px;
}

.training-wrapper {
  width: 100%;
}

.training-col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  margin-left: 40px;
}

.training-row {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.training-col p {
  font-size: .9em;
}

.left {
  width: 285px;
}

.mid {
  width: 245px;
}

.left, .mid, .right {
  margin-top: 20px;
}

.training-wrapper h3 {
  margin-bottom: 20px;
}

#index-photo-mobile {
  text-align: center;
}

#index-photo {
  display: none;
}

/*==============================================================================
Breakpoints
==============================================================================*/

@media (min-width: 600px) {

  .video-container iframe {
    width: 512px;
    height: 288px;
  }

}

@media (min-width: 700px) {

  #mobile-header {
    display: none;
  }

  #index-photo {
    display: block;
    text-align: center;
    margin: 40px auto;
  }

  #tablet-header {
    display: block;
  }

  h1 {
    font-size: 2.2rem;
    padding: 0;
  }

  h2 {
    font-size: 2.2rem;
    padding: 0;
  }

  .flex-container1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 40px;
    padding: 0 0 40px 0;
    border-bottom: solid 2px #a9a9a9;
  }

  .flex-container1 a {
    font-family: 'Lato', sans-sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #808080;
    padding: 0 15px 0 15px;
  }

  #desktop-welcome-gallery {
    display: block;
  }

  #desktop-welcome-gallery img {
    width: 100%;
    max-width: 1200px;
  }

  .welcome-gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .welcome-gallery li {
    width: calc(100% / 2);
  }

  .photo-flex1 {
    margin-right: 40px;
  }

  .photo-flex3 {
    display: none;
  }

  .video-container {
    margin: 0 40px;
  }

  /* video {
    width: 640px;
    height: 360px;
  } */

  .video-container iframe {
    width: 640px;
    height: 360px;
  }

  .video-container figcaption h3 {
    margin: 20px 0;
    padding: 0;
  }

  figcaption {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-align: center;
    width: 640px;
    padding: 0;
    margin: 0 auto;
  }

}

@media (min-width: 1024px) {

  #tablet-header {
    display: none;
  }

  #desktop-header {
    display: block;
    max-width: 1200px;
    border-bottom: solid 2px #a9a9a9;
    margin: 0 auto;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .flex-container2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 40px;
    margin-top: 40px;
  }

  .box {
    font-family: 'Lato', sans-sans-serif;
    font-size: .95em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .box:not(:last-child) {
    margin: 0 20px;
  }
  .box:last-child {
    margin-left: 20px;
  }
  .box a {
    text-align: center;
    color: #808080;
  }

  .main-container {
    margin: 0 20%;
  }

  .two-column-flex img {
    display: block;
    width: 600px;
    height: auto;
    margin: 40px 0;
  }

  .item-1 {
    display: block;
    flex-shrink: 0; /* Keeps photo the same size */
  }

  .item-2 {
    max-width: 1200px;
    flex-shrink: 1; /* Shrinks the text */
  }

  #about .item-2 {
    max-width: 800px;
  }

  #about-text, #instructor-text {
    margin-left: 40px;
  }

  #shows-img {
    width: 760px;
  }

  #shows-text {
    margin: 0 40px;
  }

  /* Social media link hover animation */

  .social-links span {
    transition: color .4s, transform .4s cubic-bezier(.46,-0.68,.17,1.56);
  }

  .social-links span:hover {
    color: #1695a3;
    transform: scale(1.5);
  }

}

@media (min-width: 1366px) {

  .photo-flex1 {
    margin: 0;
  }

  .photo-flex3 {
    display: block;
  }

  .welcome-gallery {
    justify-content: space-between;
  }

  .welcome-gallery li {
    width: calc(100% / 3.1);
  }

}
